/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: rgb(81, 109, 121);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cabecalho {
  background-color: rgb(16, 48, 95);
  padding: 1%;
}
.cabecalho_menu {
  text-align: center;
  color: rgb(114, 143, 155);
  font-size: 1.43rem;
}
.img-alura {
  width: 7%;
  margin-top: 30px;
  margin-left: 20px;
}

main {
  margin: 35px 20px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

textarea {
  resize: none;
  padding: 0.5rem;
  border: 2px solid rgb(16, 48, 95);
  border-radius: 12px;
  font-size: 1rem;
  background-color: transparent;
  color: black;
}

.section-principal {
  width: 50%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.text-area {
  width: 100%;
  height: 300px;
}

::placeholder {
  color: black;
}
.text-area:focus {
  outline: none;
  box-shadow: 0 0 0 0;
  border: 2px solid rgb(16, 48, 95);
  border-radius: 12px;
}
.information {
  align-self: self-start;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.restricao {
  margin: 0px 5px;
  color: rgb(16, 48, 95);
}

.button {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

button {
  border-radius: 24px;
  background-color: rgb(16, 48, 95);
  color: rgb(135, 162, 173);
  border: none;
  width: 150px;
  height: 40px;
}

button:hover {
  background-color: rgb(79, 125, 190);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
a {
  text-decoration: none;
}

.section-mensagem {
  text-align: center;
  gap: 50px;
}

.mensagem {
  height: 400px;
  width: 300px;
}

.btn-copiar {
  padding: 8px 20px;
  margin-top: 1rem;
}
.rodape {
  justify-content: center;
  background-color: rgb(16, 48, 95);
  padding: 15px;
  margin-top: auto;
}
.rodape_texto {
  text-align: center;
  color: rgb(135, 162, 173);
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .cabecalho {
    padding: 1%;
  }
  .cabecalho_menu {
    text-align: center;
    font-size: 1rem;
  }
  .rodape {
    padding: 5px;
  }

  main {
    flex-direction: column;
    align-items: center;
  }
  .section-principal {
    width: 100%;
    max-width: 100%;
  }
  .section-mensagem {
    width: 100%;
  }
  .mensagem {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .button {
    flex-direction: column;
    width: 100%;
  }
  button {
    width: 100%;
  }
}
